venv/
venv_mineru/
.DS_Store
__pycache__/
*.pyc
ocr_output/
word_output/
vectordb/
extracted_images/
.streamlit/secrets.toml
onenote_export/
*.rtf
*.tmp
ocr_pdf.py
txt_to_word.py
structure_db.py
parse_dongzhen.py
add_page_numbers.py
